openapi: 3.0.1
info:
  contact:
    name: MongoDB Cloud Support
    url: https://www.mongodb.com/support/get-started
  description: |-
    The MongoDB Atlas Administration API allows developers to manage all components in MongoDB Atlas.
    To learn more, review the [Administration API overview](https://www.mongodb.com/docs/atlas/api/atlas-admin-api/).
    This OpenAPI specification covers all of the collections with the exception of Alerts, Alert Configurations, and Events. Refer to the [legacy documentation](https://www.mongodb.com/docs/atlas/reference/api-resources/) for the specifications of these resources.
  license:
    name: CC BY-NC-SA 3.0 US
    url: https://creativecommons.org/licenses/by-nc-sa/3.0/us/
  termsOfService: https://www.mongodb.com/mongodb-management-service-terms-and-conditions
  title: MongoDB Atlas Administration API
  version: "2.0"
servers:
- url: https://cloud.mongodb.com
tags:
- description: "Returns access logs for authentication attempts made to Atlas database\
    \ deployments. To view database access history, you must have either the Project\
    \ Owner or Organization Owner role."
  name: Access Tracking
- description: Returns and edits the conditions that trigger alerts and how MongoDB
    Cloud notifies users. This collection remains under revision and may change. Refer
    to the legacy documentation for this collection in the following link.
  externalDocs:
    description: Alert Configurations API Legacy Documentation
    url: https://www.mongodb.com/docs/atlas/reference/api/alert-configurations/
  name: Alert Configurations
- description: Returns and acknowledges alerts that MongoDB Cloud triggers based on
    the alert conditions that you define. This collection remains under revision and
    may change. Refer to the legacy documentation for this collection in the following
    link.
  externalDocs:
    description: Alerts API Legacy Documentation
    url: https://www.mongodb.com/docs/atlas/reference/api/alerts/
  name: Alerts
- description: "Returns, adds, edits, and removes Atlas Search indexes for the specified\
    \ cluster. Also returns and updates user-defined analyzers for the specified cluster."
  name: Atlas Search
- description: Returns and edits database auditing settings for MongoDB Cloud projects.
  name: Auditing
- description: "Manages Cloud Backup snapshots, snapshot export buckets, restore jobs,\
    \ and schedules. This resource applies only to clusters that use Cloud Backups."
  name: Cloud Backups
- description: "Manages the Cloud Migration Service. Source organizations, projects,\
    \ and MongoDB clusters reside on Cloud Manager or Ops Manager. Destination organizations,\
    \ projects, and MongoDB clusters reside on MongoDB Cloud. Source databases can't\
    \ use any authentication except SCRAM-SHA."
  name: Cloud Migration Service
- description: "Returns, adds, authorizes, and removes AWS IAM roles in Atlas."
  name: Cloud Provider Access
- description: "Returns, starts, or ends a cluster outage simulation."
  name: Cluster Outage Simulation
- description: "Returns, adds, edits, and removes database deployments. Changes to\
    \ cluster configurations can affect costs. This resource requires your Project\
    \ ID."
  name: Clusters
- description: "Returns and edits custom DNS configurations for MongoDB Cloud database\
    \ deployments on AWS. The resource requires your Project ID. If you use the VPC\
    \ peering on AWS and you use your own DNS servers instead of Amazon Route 53,\
    \ enable custom DNS. Before 31 March 2020, applications deployed within AWS using\
    \ custom DNS services and VPC-peered with MongoDB Cloud couldn't connect over\
    \ private IP addresses. Custom DNS resolved to public IP addresses. AWS internal\
    \ DNS resolved to private IP addresses. Applications deployed with custom DNS\
    \ services in AWS should use Private IP for Peering connection strings."
  name: AWS Clusters DNS
- description: "Returns, adds, edits, and removes custom database user privilege roles.\
    \ Use custom roles to specify custom sets of actions that the MongoDB Cloud built-in\
    \ roles can't describe. You define custom roles at the project level, for all\
    \ clusters in the project. This resource supports a subset of MongoDB privilege\
    \ actions. You can create a subset of custom role actions. To create a wider list\
    \ of custom role actions, use the MongoDB Cloud user interface. Custom roles must\
    \ include actions that all project's clusters support, and that are compatible\
    \ with each MongoDB version that your project's clusters use. For example, if\
    \ your project has MongoDB 4.2 clusters, you can't create custom roles that use\
    \ actions introduced in MongoDB 4.4."
  name: Custom Database Roles
- description: "Returns, adds, edits, and removes database users."
  name: Database Users
- description: "Returns, adds, edits, and removes Federated Database Instances. This\
    \ resource requires your project ID. Changes to federated database instance configurations\
    \ can affect costs."
  name: Data Federation
- description: "Returns, adds, edits, and removes Atlas Data Lake Pipelines and associated\
    \ runs."
  name: Data Lake Pipelines
- description: Returns and edits the Encryption at Rest using Customer Key Management
    configuration. MongoDB Cloud encrypts all storage whether or not you use your
    own key management.
  name: Encryption at Rest using Customer Key Management
- description: Returns events. This collection remains under revision and may change.
    Refer to the legacy documentation for this collection in the following link.
  externalDocs:
    description: Events API Legacy Documentation
    url: https://www.mongodb.com/docs/atlas/reference/api/events/
  name: Events
- description: "Returns, adds, edits, and removes federation-related features such\
    \ as role mappings and connected organization configurations."
  name: Federated Authentication
- description: |-
    Returns, adds, and removes Global Cluster managed namespaces and custom zone mappings. Each collection in a Global Cluster is associated with a managed namespace. When you create a managed namespace for a Global Cluster, MongoDB Cloud creates an empty collection for that namespace. Creating a managed namespace doesn't populate a collection with data. Similarly, deleting a managed namespace doesn't delete the associated collection.
    MongoDB Cloud shards the empty collection using the required location field and a custom shard key. For example, if your custom shard key is `city`, the compound shard key is `location, city`. Each Global Cluster is also associated with one or more Global Writes Zones. When a user creates a Global Cluster, MongoDB Cloud automatically maps each location code to the closest geographical zone. Custom zone mappings allow administrators to override these automatic mappings. For example, a use case might require mapping a location code to a geographically distant zone. Administrators can manage custom zone mappings with the APIs below and the **Global Cluster Configuration** pane when you create or modify your Global Cluster.
  name: Global Clusters
- description: Returns invoices.
  name: Invoices
- description: "Returns, edits, verifies, and removes LDAP configurations. An LDAP\
    \ configuration defines settings for MongoDB Cloud to connect to your LDAP server\
    \ over TLS for user authentication and authorization. Your LDAP server must be\
    \ visible to the internet or connected to your MongoDB Cloud cluster with VPC\
    \ Peering. Also, your LDAP server must use TLS. You must have the MongoDB Cloud\
    \ admin user privilege to use these endpoints. Also, to configure user authentication\
    \ and authorization with LDAPS, your cluster must run MongoDB 3.6 or higher. Groups\
    \ for which you have configured LDAPS can't create a cluster using a version of\
    \ MongoDB 3.6 or lower."
  name: LDAP Configuration
- description: "Manages Legacy Backup snapshots, restore jobs, schedules and checkpoints."
  name: Legacy Backup
- description: "Returns, edits, and removes maintenance windows. The maintenance procedure\
    \ that MongoDB Cloud performs requires at least one replica set election during\
    \ the maintenance window per replica set. You can defer a scheduled maintenance\
    \ event for a project up to two times. Deferred maintenance events occur during\
    \ your preferred maintenance window exactly one week after the previously scheduled\
    \ date and time."
  name: Maintenance Windows
- description: "Returns, adds, and edits MongoDB Cloud users."
  name: MongoDB Cloud Users
- description: Returns database deployment monitoring and logging data.
  name: Monitoring and Logs
- description: "Returns, adds, edits, or removes multi-cloud clusters. Changes to\
    \ cluster configurations can affect costs."
  name: Multi-Cloud Clusters
- description: "Returns, adds, edits, and removes network peering containers and peering\
    \ connections."
  name: Network Peering
- description: "Returns, adds, edits, or removes an online archive."
  name: Online Archive
- description: "Returns, adds, and edits organizational units in MongoDB Cloud."
  name: Organizations
- description: "Returns suggested indexes and slow query data for a database deployment.\
    \ Also enables or disables MongoDB Cloud-managed slow operation thresholds. To\
    \ view field values in a sample query, you must have the Project Data Access Read\
    \ Only role or higher. Otherwise, MongoDB Cloud returns redacted data rather than\
    \ the field values."
  name: Performance Advisor
- description: "Returns, adds, edits, and removes private endpoint services."
  name: Private Endpoint Services
- description: "Returns, adds, edits, and removes access tokens to use the MongoDB\
    \ Cloud API. MongoDB Cloud applies these keys to organizations. These resources\
    \ can return, assign, or revoke use of these keys within a specified project."
  name: Programmatic API Keys
- description: "Returns, adds, edits, and removes network access limits to database\
    \ deployments in Atlas. This resource replaces the whitelist resource. Atlas removed\
    \ whitelists in July 2021. Update your applications to use this new resource.\
    \ This resource manages a project's IP Access List and supports creating temporary\
    \ Access List entries that automatically expire within a user-configurable 7-day\
    \ period."
  name: Project IP Access List
- description: "Returns, adds, and edits collections of clusters and users in MongoDB\
    \ Cloud."
  name: Projects
- description: Creates one index to a database deployment in a rolling manner. You
    can't create a rolling index on an `M0` free cluster or `M2/M5` shared cluster.
  name: Rolling Index
- description: Returns details that describe the MongoDB Cloud build and the access
    token that requests this resource. This starts the MongoDB Cloud API.
  name: Root
- description: "Returns, adds, edits, and removes serverless instances."
  name: Serverless Instances
- description: "Returns, adds, edits, and removes private endpoints for serverless\
    \ instances. To learn more, see the Atlas Administration API tab on the following\
    \ tutorial."
  externalDocs:
    description: Set Up a Private Endpoint for a Serverless Instance Tutorial
    url: https://dochub.mongodb.org/core/serverless-private-endpoint
  name: Serverless Private Endpoints
- description: Returns and adds restore jobs for shared-tier database deployments.
  name: Shared-Tier Restore Jobs
- description: Returns and requests to download shared-tier database deployment snapshots.
  name: Shared-Tier Snapshots
- description: "Returns, adds, edits, or removes teams."
  name: Teams
- description: Atlas test endpoints.
  name: Test
- description: |-
    Returns, adds, edits, and removes third-party service integration configurations. MongoDB Cloud sends alerts to each third-party service that you configure.

    **IMPORTANT**: Each project can only have one configuration per integrationType.
  name: Third-Party Integrations
- description: "Returns, edits, and removes user-managed X.509 configurations. Also\
    \ returns and generates MongoDB Cloud-managed X.509 certificates for database\
    \ users. The following resources help manage database users who authenticate using\
    \ X.509 certificates. You can manage these X.509 certificates or let MongoDB Cloud\
    \ do it for you. If MongoDB Cloud manages your certificates, it also manages your\
    \ Certificate Authority and can generate certificates for your database users.\
    \ No additional X.509 configuration is required. If you manage your certificates,\
    \ you must provide a Certificate Authority and generate certificates for your\
    \ database users."
  externalDocs:
    description: Self-Managed X.509 Certificates
    url: https://www.mongodb.com/docs/atlas/security-self-managed-x509/
  name: X.509 Authentication
paths:
  /api/atlas/v2:
    get:
      description: This resource returns information about the MongoDB application
        along with API key meta data.
      operationId: getSystemStatus
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Flag that indicates whether the response body should be in the
          <a href="https://en.wikipedia.org/wiki/Prettyprint" target="_blank" rel="noopener
          noreferrer">prettyprint</a> format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/ApiSystemStatusView'
              x-xgen-version: 2023-01-01
          description: OK
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Return the status of this MongoDB application
      tags:
      - Root
  /api/atlas/v2/alertConfigs/matchers/fieldNames:
    get:
      description: "Get all field names that the matchers.fieldName parameter accepts\
        \ when you [create](#tag/Alert-Configurations/operation/createAlertConfiguration)\
        \ or [update](#tag/Alert-Configurations/operation/updateAlertConfiguration)\
        \ an Alert Configuration."
      operationId: listAlertConfigurationMatchersFieldNames
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Flag that indicates whether the response body should be in the
          <a href="https://en.wikipedia.org/wiki/Prettyprint" target="_blank" rel="noopener
          noreferrer">prettyprint</a> format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                items:
                  $ref: '#/components/schemas/MatcherFieldView'
                type: array
              x-xgen-version: 2023-01-01
          description: OK
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Get All Alert Configuration Matchers Field Names
      tags:
      - Alert Configurations
  /api/atlas/v2/clusters:
    get:
      description: "Returns the details for all clusters in all projects to which\
        \ you have access. Clusters contain a group of hosts that maintain the same\
        \ data set. The response does not include multi-cloud clusters. To use this\
        \ resource, the requesting API Key can have any cluster-level role. This resource\
        \ doesn't require the API Key to have an Access List."
      operationId: listClustersForAllProjects
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Flag that indicates whether the response returns the total number
          of items (**totalCount**) in the response.
        explode: true
        in: query
        name: includeCount
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      - description: Number of items that the response returns per page.
        explode: true
        in: query
        name: itemsPerPage
        required: false
        schema:
          default: 100
          example: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Number of the page that displays the current set of the total
          objects that the response returns.
        explode: true
        in: query
        name: pageNum
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
        style: form
      - description: Flag that indicates whether the response body should be in the
          <a href="https://en.wikipedia.org/wiki/Prettyprint" target="_blank" rel="noopener
          noreferrer">prettyprint</a> format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/PaginatedOrgGroupView'
              x-xgen-version: 2023-01-01
          description: OK
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return All Authorized Clusters in All Projects
      tags:
      - Clusters
  /api/atlas/v2/example/info:
    get:
      description: "Returns some text dummy data for test purposes. Deprecated versions:\
        \ v2-{2023-01-01}"
      operationId: versionedExample
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: additionalInfo
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.atlas.2023-02-01+json:
              schema:
                $ref: '#/components/schemas/ExampleResourceResponseView20230201'
              x-xgen-version: 2023-02-01
          description: OK
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Example resource info for versioning of the Atlas API
      tags:
      - Test
  /api/atlas/v2/federationSettings/{federationSettingsId}:
    delete:
      description: "Deletes the federation settings instance and all associated data,\
        \ including identity providers and domains. To use this resource, the requesting\
        \ API Key must have the Organization Owner role in the last remaining connected\
        \ organization. This resource doesn't require the API Key to have an Access\
        \ List. **Note**: requests to this resource will fail if there is more than\
        \ one connected organization in the federation."
      operationId: deleteFederationApp
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      responses:
        "204":
          content:
            application/vnd.atlas.2023-01-01+json:
              x-xgen-version: 2023-01-01
          description: No Content
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Delete the federation settings instance.
      tags:
      - Federated Authentication
  /api/atlas/v2/federationSettings/{federationSettingsId}/connectedOrgConfigs:
    get:
      description: "Returns all connected org configs in the specified federation.\
        \ To use this resource, the requesting API Key must have the Organization\
        \ Owner role in one of the connected orgs. This resource doesn't require the\
        \ API Key to have an Access List."
      operationId: listConnectedOrgConfigs
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectedOrgConfigView'
                type: array
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Return All Connected Org Configs from the Federation
      tags:
      - Federated Authentication
  /api/atlas/v2/federationSettings/{federationSettingsId}/connectedOrgConfigs/{orgId}:
    delete:
      description: "Removes one connected organization configuration from the specified\
        \ federation. To use this resource, the requesting API Key must have the Organization\
        \ Owner role. This resource doesn't require the API Key to have an Access\
        \ List. Note: This request fails if only one connected organization exists\
        \ in the federation."
      operationId: removeConnectedOrgConfig
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Unique 24-hexadecimal digit string that identifies the connected
          organization configuration to remove.
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 32b6e34b3d91647abb20e7b8
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      responses:
        "204":
          description: This endpoint does not return a response body.
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Remove One Org Config Connected to One Federation
      tags:
      - Federated Authentication
    get:
      description: "Returns the specified connected org config from the specified\
        \ federation. To use this resource, the requesting API Key must have the Organization\
        \ Owner role in the connected org. This resource doesn't require the API Key\
        \ to have an Access List."
      operationId: getConnectedOrgConfig
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Unique 24-hexadecimal digit string that identifies the connected
          organization configuration to return.
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 32b6e34b3d91647abb20e7b8
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/ConnectedOrgConfigView'
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return One Org Config Connected to One Federation
      tags:
      - Federated Authentication
    patch:
      description: "Updates one connected organization configuration from the specified\
        \ federation. To use this resource, the requesting API Key must have the Organization\
        \ Owner role. This resource doesn't require the API Key to have an Access\
        \ List. \n\n**Note** If the organization configuration has no associated identity\
        \ provider, you can't use this resource to update role mappings or post authorization\
        \ role grants.  \n\n**Note**: The domainRestrictionEnabled field defaults\
        \ to false if not provided in the request. \n\n**Note**: If the identityProviderId\
        \ field is not provided, you will disconnect the organization and the identity\
        \ provider."
      operationId: updateConnectedOrgConfig
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Unique 24-hexadecimal digit string that identifies the connected
          organization configuration to update.
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 32b6e34b3d91647abb20e7b8
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectedOrgConfigView'
        description: The connected organization configuration that you want to update.
        required: true
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/ConnectedOrgConfigView'
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Update One Org Config Connected to One Federation
      tags:
      - Federated Authentication
  /api/atlas/v2/federationSettings/{federationSettingsId}/connectedOrgConfigs/{orgId}/roleMappings:
    get:
      description: "Returns all role mappings from the specified organization in the\
        \ specified federation. To use this resource, the requesting API Key must\
        \ have the Organization Owner role. This resource doesn't require the API\
        \ Key to have an Access List."
      operationId: listRoleMappings
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: "Unique 24-hexadecimal digit string that identifies the organization\
          \ that contains your projects. Use the [/orgs](#tag/Organizations/operation/listOrganizations)\
          \ endpoint to retrieve all organizations to which the authenticated user\
          \ has access."
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 4888442a3354817a7320eb61
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                items:
                  $ref: '#/components/schemas/RoleMappingView'
                type: array
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return All Role Mappings from One Organization
      tags:
      - Federated Authentication
    post:
      description: "Adds one role mapping to the specified organization in the specified\
        \ federation. To use this resource, the requesting API Key must have the Organization\
        \ Owner role. This resource doesn't require the API Key to have an Access\
        \ List."
      operationId: createRoleMapping
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: "Unique 24-hexadecimal digit string that identifies the organization\
          \ that contains your projects. Use the [/orgs](#tag/Organizations/operation/listOrganizations)\
          \ endpoint to retrieve all organizations to which the authenticated user\
          \ has access."
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 4888442a3354817a7320eb61
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleMappingView'
        description: The role mapping that you want to create.
        required: true
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/RoleMappingView'
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Add One Role Mapping to One Organization
      tags:
      - Federated Authentication
  /api/atlas/v2/federationSettings/{federationSettingsId}/connectedOrgConfigs/{orgId}/roleMappings/{id}:
    delete:
      description: "Removes one role mapping in the specified organization from the\
        \ specified federation. To use this resource, the requesting API Key must\
        \ have the Organization Owner role. This resource doesn't require the API\
        \ Key to have an Access List."
      operationId: deleteRoleMapping
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Unique 24-hexadecimal digit string that identifies the role mapping
          that you want to remove.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 32b6e34b3d91647abb20e7b8
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: "Unique 24-hexadecimal digit string that identifies the organization\
          \ that contains your projects. Use the [/orgs](#tag/Organizations/operation/listOrganizations)\
          \ endpoint to retrieve all organizations to which the authenticated user\
          \ has access."
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 4888442a3354817a7320eb61
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      responses:
        "204":
          content:
            application/vnd.atlas.2023-01-01+json:
              x-xgen-version: 2023-01-01
          description: No Content
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Remove One Role Mapping from One Organization
      tags:
      - Federated Authentication
    get:
      description: "Returns one role mapping from the specified organization in the\
        \ specified federation. To use this resource, the requesting API Key must\
        \ have the Organization Owner role. This resource doesn't require the API\
        \ Key to have an Access List."
      operationId: getRoleMapping
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Unique 24-hexadecimal digit string that identifies the role mapping
          that you want to return.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 32b6e34b3d91647abb20e7b8
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: "Unique 24-hexadecimal digit string that identifies the organization\
          \ that contains your projects. Use the [/orgs](#tag/Organizations/operation/listOrganizations)\
          \ endpoint to retrieve all organizations to which the authenticated user\
          \ has access."
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 4888442a3354817a7320eb61
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/RoleMappingView'
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return One Role Mapping from One Organization
      tags:
      - Federated Authentication
    put:
      description: "Updates one role mapping in the specified organization in the\
        \ specified federation. To use this resource, the requesting API Key must\
        \ have the Organization Owner role. This resource doesn't require the API\
        \ Key to have an Access List."
      operationId: updateRoleMapping
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Unique 24-hexadecimal digit string that identifies the role mapping
          that you want to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 32b6e34b3d91647abb20e7b8
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: "Unique 24-hexadecimal digit string that identifies the organization\
          \ that contains your projects. Use the [/orgs](#tag/Organizations/operation/listOrganizations)\
          \ endpoint to retrieve all organizations to which the authenticated user\
          \ has access."
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 4888442a3354817a7320eb61
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleMappingView'
        description: The role mapping that you want to update.
        required: true
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/RoleMappingView'
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Update One Role Mapping in One Organization
      tags:
      - Federated Authentication
  /api/atlas/v2/federationSettings/{federationSettingsId}/identityProviders:
    get:
      description: "Returns all identity providers in the specified federation. To\
        \ use this resource, the requesting API Key must have the Organization Owner\
        \ role in one of the connected organizations. This resource doesn't require\
        \ the API Key to have an Access List."
      operationId: listIdentityProviders
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                items:
                  $ref: '#/components/schemas/IdentityProviderView'
                type: array
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return all identity providers from the specified federation.
      tags:
      - Federated Authentication
  /api/atlas/v2/federationSettings/{federationSettingsId}/identityProviders/{identityProviderId}:
    get:
      description: "Returns one identity provider from the specified federation. To\
        \ use this resource, the requesting API Key must have the Organization Owner\
        \ role in one of the connected organizations. This resource doesn't require\
        \ the API Key to have an Access List."
      operationId: getIdentityProvider
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Unique 20-hexadecimal digit string that identifies the identity
          provider.
        explode: false
        in: path
        name: identityProviderId
        required: true
        schema:
          example: c2777a9eca931f29fc2f
          maxLength: 20
          minLength: 20
          pattern: "^([a-f0-9]{20})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/IdentityProviderView'
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return one identity provider from the specified federation.
      tags:
      - Federated Authentication
    patch:
      description: "Updates one identity provider in the specified federation. To\
        \ use this resource, the requesting API Key must have the Organization Owner\
        \ role in one of the connected organizations. This resource doesn't require\
        \ the API Key to have an Access List."
      operationId: updateIdentityProvider
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Unique 20-hexadecimal digit string that identifies the identity
          provider.
        explode: false
        in: path
        name: identityProviderId
        required: true
        schema:
          example: c2777a9eca931f29fc2f
          maxLength: 20
          minLength: 20
          pattern: "^([a-f0-9]{20})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProviderUpdate'
        description: The identity provider that you want to update.
        required: true
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/IdentityProviderView'
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 403
                errorCode: CANNOT_CHANGE_GROUP_NAME
                parameters:
                - EXAMPLE
                reason: Forbidden
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Update the identity provider.
      tags:
      - Federated Authentication
  /api/atlas/v2/federationSettings/{federationSettingsId}/identityProviders/{identityProviderId}/metadata.xml:
    get:
      description: "Returns the metadata of one identity provider in the specified\
        \ federation. To use this resource, the requesting API Key must have the Organization\
        \ Owner role in one of the connected organizations. This resource doesn't\
        \ require the API Key to have an Access List."
      operationId: getIdentityProviderMetadata
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Unique 20-hexadecimal digit string that identifies the identity
          provider.
        explode: false
        in: path
        name: identityProviderId
        required: true
        schema:
          example: c2777a9eca931f29fc2f
          maxLength: 20
          minLength: 20
          pattern: "^([a-f0-9]{20})$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                type: string
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return the metadata of one identity provider in the specified federation.
      tags:
      - Federated Authentication
  /api/atlas/v2/groups:
    get:
      description: "Returns details about all projects. Projects group clusters into\
        \ logical collections that support an application environment, workload, or\
        \ both. Each project can have its own users, teams, security, and alert settings.\
        \ To use this resource, the requesting API Key must have the Read Write role.\
        \ This resource doesn't require the API Key to have an Access List."
      operationId: listProjects
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Flag that indicates whether the response returns the total number
          of items (**totalCount**) in the response.
        explode: true
        in: query
        name: includeCount
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      - description: Number of items that the response returns per page.
        explode: true
        in: query
        name: itemsPerPage
        required: false
        schema:
          default: 100
          example: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Number of the page that displays the current set of the total
          objects that the response returns.
        explode: true
        in: query
        name: pageNum
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
        style: form
      - description: Flag that indicates whether the response body should be in the
          <a href="https://en.wikipedia.org/wiki/Prettyprint" target="_blank" rel="noopener
          noreferrer">prettyprint</a> format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/PaginatedAtlasGroupView'
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Return All Projects
      tags:
      - Projects
    post:
      description: "Creates one project. Projects group clusters into logical collections\
        \ that support an application environment, workload, or both. Each project\
        \ can have its own users, teams, security, and alert settings. To use this\
        \ resource, the requesting API Key must have the Read Write role. This resource\
        \ doesn't require the API Key to have an Access List."
      operationId: createProject
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Flag that indicates whether the response body should be in the
          <a href="https://en.wikipedia.org/wiki/Prettyprint" target="_blank" rel="noopener
          noreferrer">prettyprint</a> format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: "Unique 24-hexadecimal digit string that identifies the MongoDB\
          \ Cloud user to whom to grant the Project Owner role on the specified project.\
          \ If you set this parameter, it overrides the default value of the oldest\
          \ Organization Owner. "
        explode: true
        in: query
        name: projectOwnerId
        required: false
        schema:
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        description: Creates one project.
        required: true
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/Group'
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 403
                errorCode: CANNOT_CHANGE_GROUP_NAME
                parameters:
                - EXAMPLE
                reason: Forbidden
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "409":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot delete organization link while there\
                  \ is active migration in following project ids: 60c4fd418ebe251047c50554"
                error: 409
                errorCode: CANNOT_DELETE_ORG_LINK_WITH_RUNNING_LIVE_EXPORT
                parameters:
                - 60c4fd418ebe251047c50554
                reason: Conflict
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Create One Project
      tags:
      - Projects
  /api/atlas/v2/groups/byName/{groupName}:
    get:
      description: "Returns details about the specified project. Projects group clusters\
        \ into logical collections that support an application environment, workload,\
        \ or both. Each project can have its own users, teams, security, and alert\
        \ settings. To use this resource, the requesting API Key must have the Project\
        \ Read Only role. This resource doesn't require the API Key to have an Access\
        \ List."
      operationId: getProjectByName
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Flag that indicates whether the response body should be in the
          <a href="https://en.wikipedia.org/wiki/Prettyprint" target="_blank" rel="noopener
          noreferrer">prettyprint</a> format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Human-readable label that identifies this project.
        explode: false
        in: path
        name: groupName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: '#/components/schemas/Group'
              x-xgen-version: 2023-01-01
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "409":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot delete organization link while there\
                  \ is active migration in following project ids: 60c4fd418ebe251047c50554"
                error: 409
                errorCode: CANNOT_DELETE_ORG_LINK_WITH_RUNNING_LIVE_EXPORT
                parameters:
                - 60c4fd418ebe251047c50554
                reason: Conflict
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "500":
          content:
            application/json:
[...]
