on:
  push:
    tags:
      - v0.*.*
      - v1.*.*

jobs:
  tests:
    name: Release smoke tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        golang:
          - 1.18
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.golang }}
      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.golang }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.golang }}-
      - name: Checking code health
        run: make test
      - name: Checking the version
        run: make check-version
